/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
}
main{
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

/*----------------
nav style start 
------------------*/
header{
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-size: 24px;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style: none;
    margin-left: 30px;
}
.nav-menu ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.4s;
}
.nav-menu ul li a:hover{
    color: tomato;
}

/*----------------
banner section start 
------------------*/
#banner{
    display: flex;
    margin: 80px 0;
    justify-content: space-between;
}
#banner>article{
    width: 582px;
}
#banner h1{
    font-size: 52px;
    margin-bottom: 26px;
}
#banner p{
    margin-top: 0;
    margin-bottom: 26px;
}
#banner button{
    display: flex;
    background-color: #E02C6D;
    border-radius: 41px;
    padding: 10px 25px;
    color: white;
    font-weight: 700;
    border: none;
    transition: 0.3s;
}
#banner button:hover{
    background-color: tomato;
}
.btn-icon-right-arrow{
    margin-left: 8px;
}
.banner-img{
    background-image: url('../images/Circle\ design.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.banner-img img{
    width: 100%;
}
.banner-img:hover{
    transform: scale(1.3);
    transition: 0.7s ease-in-out;
}

/*----------------
logo section start 
------------------*/
#logo{
    display: flex;
    justify-content: space-between;
    height: 110px;
    border: 1px solid#C0CCDA;
    align-items: center;
}
#logo img{
    width: 85px;
    height: 25px;
}

/*----------------
popular collection start 
------------------*/
#popular-collection{
    margin: 100px 0;
}
#popular-collection h1{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 50px;
}
.popular-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.popular-card{
    width: 300px;
    box-shadow: 10px 10px 15px 20px#e9e6e6;
    padding: 15px;
    border-radius: 5px;
}
.popular-card h2{
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
    margin: 10px 0;
}
.popular-card h3{
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
}
.popular-card p{
    font-weight: 700;
    font-size: 14px;
    color:  #787885;
    margin: 0;
}
.icon-detail{
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items: center;
}
.star-icon{
    color: #FB8200;
    font-size: 12px;
}
.popular-btn{
    text-align: right;
    margin-top: 50px;
    color: rgba(224, 44, 109, 0.87);
}
.popular-btn a{
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    transition: 0.5s;
}
.popular-btn a:hover{
    color: tomato;
}

/*----------------
traffic method start 
------------------*/
#traffic-method{
    margin-bottom: 80px;
    padding-left: 80px;
}
#traffic-method h1{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 70px;
}
.method-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.method-card{
    width: 300px;
}
.method-card h3{
    color: #3d0d53;
}
.method-icon-1, .method-icon-2, .method-icon-3{
    font-size: 50px;
    background-color: aquamarine;
    padding: 15px;
    border-radius: 10px;
}
.method-icon-2{
    background-color: palevioletred;
}
.method-icon-3{
    background-color: tan;
}

/*----------------
footer start 
------------------*/
footer{
    background-color: #0a0826;
    width: 100%;
    text-align: center;
    padding: 50px 0;
}
footer h3{
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
footer p{
    font-size: 14px;
    font-weight: 700;
    color: #D9DBE1;
    margin: 5px;
}
.footer-icons>ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icons>ul>li{
    list-style: none;
    margin-right: 35px;
}
.footer-icons>ul>li>a{
    color: white;
    font-size: 20px;
    transition: 0.5s;
}
.footer-icons>ul>li>a:hover{
    color: tomato;
}


/*-------------------------------------
Media Query for Mobile devices
----------------------------------------*/

@media only screen and (max-width: 688px){
    header, main{
        width: 100%;
    }
    nav{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .nav-menu ul{
        display: flex;
        flex-direction: column;
    }
    #banner{
        display: grid;
        grid-template-rows: repeat(1fr 1fr);
        grid-gap: 80px;
    }
    #banner>article{
        width: 95%;
        text-align: center;
    }
    #banner button{
        margin: 0 auto;
    }
    .banner-img:hover{
        transform: rotate(360deg);
        transition: 2s ease-in-out;
    }
    #logo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
    }
    .popular-cards{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .popular-card{
        margin-left: 30px;
    }
     .popular-btn{
        text-align: center;
    }
    #traffic-method h1,  .method-card{
        width: 80%;
    }
    .method-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
/*-------------------------------------
Media Query for Ipad
----------------------------------------*/

@media only screen and (min-width: 688px) and (max-width: 992px){
    header, main{
        width: 100%;
    }
    nav{
        align-items: center;
        margin: 0 20px;
    }
    .nav-menu ul li{
        margin-left: 15px;
    }
    #banner{
        display: grid;
        grid-template-rows: repeat(1fr 1fr);
        grid-gap: 80px;
    }
    #banner>article{
        width: 95%;
        text-align: center;
    }
    #banner button{
        margin: 0 auto;
    }
    .banner-img:hover{
        transform: rotate(360deg);
        transition: 2s ease-in-out;
    }
    #logo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 0px 20px 70px;
    }
    .popular-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
    .popular-card{
        margin-left: 10%;
    }
     .popular-btn{
        text-align: center;
    }
    #traffic-method h1,  .method-card{
        width: 80%;
    }
    .method-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
